body {
	font-family: Futura, Verdana; 
	font-weight: bold;
	text-align: center; 

	background-color: white;
	color: black;
	transition-duration: 0.5s;
	box-shadow: black;
	border-color: black;
}
body.dark-theme {
	background-color: black;
	color: white;
	transition-duration: 0.5s;
	box-shadow: white;
	border-color: white;
}

@media (prefers-color-scheme: dark) {
	body { 
		font-family: Futura, Verdana; 
		font-weight: bold;
		text-align: center; 
		
		background-color: black;
		color: white;
		transition-duration: 0.5s;
		box-shadow: white;
		border-color: white;
	}
	body.light-theme {
		background-color: white;
		color: black;
		transition-duration: 0.5s;
		box-shadow: black;
		border-color: black;
	}
}