.row {
	margin-top: 12px;
	margin-bottom: 12px;
	position: relative;
	display: flex;
	align-items: center;
}

.card {
	left: calc(17.5% + 63px);
	width: calc(81.5% - 111px);
	border-radius: 24px;
	padding: 24px;
	display: inline-block;
	position: relative;
}

.events {
	margin-left: 24.5%;
	width: 74.5%;
	display: inline-block;
	position: relative;
	margin-top: -10px;
}

.events p {
	margin: auto;
	font-weight: normal;
}

.dot {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: absolute;
	left: 17.5%;
}

.date {
	text-align: right;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	right: 85%;
	white-space: normal;
}

.linea {
	height: calc(50% + 12px);
	width: 6px;
	position: absolute;
	left: calc(17.5% + 13px);
	bottom: 50%;
}

.lineb {
	height: calc(50% + 12px);
	width: 6px;
	position: absolute;
	left: calc(17.5% + 13px);
	top: 50%;
}

.tags {
	position: absolute; 
	text-align: right; 
	bottom: 24px; 
	right: 24px; 
	text-decoration: underline; 
	cursor: pointer;
}

.darkmode {
	background-color: black;
	color: white;
	box-shadow: white;
	border-color: white;
}

.lightmode {
	background-color: white;
	color: black;
	box-shadow: black;
	border-color: black;
}