.events {
	margin-left: 45%;
	width: 50%;
	border-radius: 24px;
	padding: 24px;
	display: inline-block;
	position: relative;
	margin-top: 12px;
	margin-bottom: 12px;
	transition: 0.125s;
}

.events p {
	margin: auto;
	font-weight: normal;
}

.dot {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: calc(50% - 16px);
	left: calc(-6% - 16px);
	transition: 0.5s;
}

.date {
	text-align: right;
	display: inline-block;
	position: absolute;
	top: calc(50% - 12px);
	right: 112%;
	white-space: nowrap;
}

.image {
	height: 100%; 
	width: auto; 
	border-radius: 24px; 
	position: absolute; 
	left: calc(100% + 24px); 
	top: 0px;
	cursor: pointer;
}

.line {
	height: calc(200% + 24px);
	width: 6px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: calc(-6% - 3px);
	transition: 0.5s;
}

.tags {
	position: absolute; 
	text-align: right; 
	bottom: 24px; 
	right: 24px; 
	text-decoration: underline; 
	cursor: pointer;
}