a {
	color: inherit;
	text-decoration: none;
}

a:visited { 
	text-decoration: none;
	color: inherit;
	text-decoration: none;
}

.projects{
	border-radius: 6%;
	display: block;
	width: 350px;
	height: 350px;
	margin: 32px;
	position: relative;
	transition-duration: 0.5s;
	text-shadow: inherit;
}

.projects:hover,
.projects:focus,
.projects:active {
	transform: scale(1.1);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.small_projects{
	box-sizing: border-box;
	border-radius: 6%/21%;
	display: inline-block;
	width: 350px;
	height: 100px;
	margin: 32px;
	position: relative;
	transition-duration: 0.5s;
	text-shadow: inherit;
	cursor: pointer;
	border-width: 10px;
	border-style: solid;
	padding: 0px;
}

.small_projects:hover,
.small_projects:focus,
.small_projects:active {
	transform: scale(1.1);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.hovertext {
	position: absolute;
	opacity: 0;
	width: 310px;
	height: 270px;
	transition-duration: 0.2s;
	text-align: left;
	font-size: 20px;
	margin: 0px;
	padding: 20px;
}

.hovertext:hover,
.hovertext:focus {
	opacity: 1;
}

.light_image {
	position: absolute;
	left: 4%;
	top: 4%;
	width: 92%;
	height: auto;
	border-radius: 3%;
	transition-duration: 0.5s;
}

.dark_image {
	position: absolute;
	left: 4%;
	top: 4%;
	width: 92%;
	height: auto;
	border-radius: 3%;
	transition-duration: 0.5s;
}
