a:visited { 
	text-decoration: none;
	color: inherit;
}

.projects{
	border-radius: 6%;
	display: block;
	width: 350px;
	height: 350px;
	margin: 50px;
	margin-top: 40px;
	position: relative;
	transition-duration: 0.2s;
	text-shadow: inherit;
}

.projects:hover,
.projects:focus {
	transform: scale(1.1);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.projects:active {
	transform: scale(1.05);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.hovertext {
	position: absolute;
	opacity: 0;
	width: 310px;
	height: 310px;
	top: -8%;
	transition-duration: 0.2s;
	text-align: left;
	font-size: 20px;
	padding: 20px;
}

.hovertext:hover,
.hovertext:focus {
	opacity: 1;
}

.light {
	position: absolute;
	left: 4%;
	top: 4%;
	width: 92%;
	height: auto;
	border-radius: 3%;
}

.dark {
	position: absolute;
	left: 4%;
	top: 4%;
	width: 92%;
	height: auto;
	border-radius: 3%;
}
