.small_button {
	padding: 5px 5px;
	font-family: Futura;
	font-size: 16px;
	border-radius: 8px;
	border-color: inherit;
	border-style: hidden;
	margin: auto;
	vertical-align: middle;
	transform: perspective(1px);
	transition-duration: 0.2s;
	transition-property: transform;
	color: black;
	background-color: #CCC;
	position: absolute;
	top: 10px;
	right: 10px;
}

.small_button:hover,
.small_button:focus {
	transform: scale(1.05);
	color: inherit;
}

.small_button:active {
	animation-duration: 0.1s;
	transform: scale(1.08);
	color: inherit;
}

.textbox {
	font-family: Futura; 
	font-size: 16px;
	background-color: transparent;
	color: inherit;
	transition-duration: 0.2s;
	border-color: inherit;
	padding-left: 5px;
}

.textbox:hover,
.textbox:focus {
	transform: scale(1.03);
	color: inherit;
}

.textbox:active {
	animation-duration: 0.1s;
	transform: scale(1.06);
	color: inherit;
}

.smaller_button {
	font-family: Futura; 
	font-size: 16px;
	border-radius: 5px;
	border-color: inherit;
	margin: auto;
	background-color: transparent;
	padding: 2px;
	color: inherit;
	padding-left: 5px;
	padding-right: 5px;
	transition-duration: 0.2s;
}

.smaller_button:hover,
.smaller_button:focus {
	transform: scale(1.05);
	color: inherit;
}

.smaller_button:active {
	animation-duration: 0.1s;
	transform: scale(1.08);
	color: inherit;
}