.darkmode {
	background-color: black;
	color: white;
	transition-duration: 0.5s;
	box-shadow: white;
	border-color: white;
}

.lightmode {
	background-color: white;
	color: black;
	transition-duration: 0.5s;
	box-shadow: black;
	border-color: black;
}